.header {
    background: white;
    color: #333;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px; 
}

nav li {
    cursor: pointer;
}
nav li {
    margin-right: 20px; 
    cursor: pointer;
}

.search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 5px 10px;
    background: #9EE5E9;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}

.user-options a {
    margin-right: 20px; 
}
